# consists of 4 tab separated columns:
# - value identifier
# - name the name shown in the tool form
# - type softmasked/unmasked
# - path the directory containing the reference data
# 
# example:
# value name    type    path
# Bacillariophyta_softmasked	Bacillariophyta (Diatoms) - Softmasked (2025-10-24)	softmasked	/tmp/tmpbtwefN/tmpiplugx/tmpydhEfm/database/data_manager_tool-datacoy8bz/tiberius/Bacillariophyta_softmasked
# Bacillariophyta_unmasked	Bacillariophyta (Diatoms) - Unmasked (2026-02-06)	unmasked	/tmp/tmpbtwefN/tmpiplugx/tmpydhEfm/database/data_manager_tool-datacoy8bz/tiberius/Bacillariophyta_unmasked
# Chlorophyta_unmasked	Chlorophyta (Green Algae) - Unmasked (2026-01-26)	unmasked	/tmp/tmpbtwefN/tmpiplugx/tmpydhEfm/database/data_manager_tool-datacoy8bz/tiberius/Chlorophyta_unmasked
# Eudicotyledons_softmasked	Eudicotyledons (Eudicots) - Softmasked (2025-10-24)	softmasked	/tmp/tmpbtwefN/tmpiplugx/tmpydhEfm/database/data_manager_tool-datacoy8bz/tiberius/Eudicotyledons_softmasked
# Fungi_unmasked	Fungi - Unmasked (2026-02-06)	unmasked	/tmp/tmpbtwefN/tmpiplugx/tmpydhEfm/database/data_manager_tool-datacoy8bz/tiberius/Fungi_unmasked
# Insecta_softmasked	Insecta (Insects) - Softmasked (2025-12-03)	softmasked	/tmp/tmpbtwefN/tmpiplugx/tmpydhEfm/database/data_manager_tool-datacoy8bz/tiberius/Insecta_softmasked
# Insecta_unmasked	Insecta (Insects) - Unmasked (2026-02-15)	unmasked	/tmp/tmpbtwefN/tmpiplugx/tmpydhEfm/database/data_manager_tool-datacoy8bz/tiberius/Insecta_unmasked
# Mammalia_softmasked	Mammalia (Mammals) - Softmasked (2025-05-12)	softmasked	/tmp/tmpbtwefN/tmpiplugx/tmpydhEfm/database/data_manager_tool-datacoy8bz/tiberius/Mammalia_softmasked
# Mammalia_unmasked	Mammalia (Mammals) - Unmasked (2025-05-12)	unmasked	/tmp/tmpbtwefN/tmpiplugx/tmpydhEfm/database/data_manager_tool-datacoy8bz/tiberius/Mammalia_unmasked
# Monocotyledonae_softmasked	Monocotyledonae (Monocots) - Softmasked (2025-10-24)	softmasked	/tmp/tmpbtwefN/tmpiplugx/tmpydhEfm/database/data_manager_tool-datacoy8bz/tiberius/Monocotyledonae_softmasked
# Vertebrata_unmasked	Vertebrata (Vertebrates) - Unmasked (2025-11-10)	unmasked	/tmp/tmpbtwefN/tmpiplugx/tmpydhEfm/database/data_manager_tool-datacoy8bz/tiberius/Vertebrata_unmasked
